venv/
.idea/
venv
.venv/
.venv
.idea
db.sqlite3
static
apiv1/migrations
git/
.git/
apiv1/__pycache__/
shive_back/__pycache__/
media
shive_back/settings.py
/Users/mohamad/Desktop/dev/shive_back/shive_back/settings.py
